body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff; /* cor de fundo branco azulado */
}

header {
    background-color: #1e90ff; /* azul */
    color: white;
    padding: 15px 20px;
    text-align: center;
}

nav {
    background-color: #4682b4; /* azul */
    color: white;
    padding: 10px 20px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.container {
    padding: 20px;
}

.news-article {
    background-color: white;
    border: 1px solid #dcdcdc;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
}

.news-article img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.news-article h2 {
    margin-top: 10px;
}

.news-article p {
    margin-bottom: 0;
}
