* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    padding: 0 1rem;
}

header {
    background-color: #007BFF; /* Azul */
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
}

header img {
    max-width: 100px;
}

header h1 {
    font-size: 1.5rem;
    text-align: center;
    flex: 1;
    margin-bottom: 1rem;
}

.menu-toggle {
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

nav {
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #0056b3; /* Azul escuro */
    flex-wrap: wrap;
    margin: 0;
    padding: 0.5rem 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #003f7f; /* Azul ainda mais escuro */
    border-radius: 4px;
}

.banner {
    width: 100%;
    overflow: hidden;
    margin-top: 1rem; /* Margem acima do banner para separar do cabeçalho */
}

.banner img {
    width: 100%;
    height: auto;
    display: block;
}

/* Seção de Notícias */
.noticias {
    padding: 2rem 0;
}

.noticia {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.noticia img {
    max-width: 100%;
    height: auto;
    flex: 1;
    margin-right: 2rem;
}

.noticia .conteudo {
    flex: 2;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.news-box {
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    flex: 1 1 calc(20% - 2rem);
    display: flex;
    flex-direction: column;
}

.news-box img {
    width: 70%;
    height: auto;
    margin-bottom: 1rem;
}

.news-box h2 {
    color: #007BFF; /* Azul */
}

.news-box p {
    color: #333;
}

.news-box a {
    color: #007BFF;
    text-decoration: none;
    margin-top: auto;
}

.news-box a:hover {
    text-decoration: underline;
}

/* Seção de Vídeo */
.video-container {
    text-align: center;
    margin: 2rem 0;
}

.video-container iframe {
    width: 100%;
    max-width: 600px;
    height: 315px;
}

/* Seção de Coordenadores */
.titulo {
    text-align: center;
    margin: 2rem 0;
}

.depoimentos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.depoimento {
    background-color: white;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
    width: calc(33% - 2rem);
}

.depoimento img {
    max-width: 100px;
    border-radius: 50%;
}

.borda-azul {
    border: 2px solid #007BFF;
    padding: 1rem;
}

/* Responsividade */
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    nav {
        display: none;
    }

    nav.active {
        display: block;
    }

    header {
        flex-direction: column;
    }

    header h1 {
        margin-bottom: 1rem;
    }

    nav ul {
        flex-direction: column;
        justify-content: center;
        margin-top: 1rem; /* Margem acima dos nav links para separar do cabeçalho */
    }

    nav ul li {
        margin: 0.5rem 0;
    }

    .noticia {
        flex-direction: column;
        align-items: center;
    }

    .noticia img {
        margin: 0 0 0rem 0;
    }

    .news-box {
        width: calc(100% - 2rem);
    }

    .depoimento {
        width: calc(100% - 2rem);
    }
}

footer {
    background-color: #001486;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}
